/* Replace selection color 🕶️ */
::-moz-selection { /* Code for Firefox */
    background: var(--soft-coffee);
  } 
  ::selection {
    background: var(--soft-coffee);
  }
/* Scrollbar design */
::-webkit-scrollbar {
    height: 8px;
    width: 8px;
  }
::-webkit-scrollbar-corner {
    background: var(--soft-coffee);
  }
::-webkit-scrollbar-thumb {
    background: var(--soft-coffee);
    border-radius: 6px;
  }

/* Hide Header Hamburger menu */
header input[type="checkbox"],
header .hamburger {
    display: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --text: josefin-sans, sans-serif;
    --heading: utopia-std-headline, serif;
    --alt-text: source-sans-pro, sans-serif;
    --dark: #151314;
    --coffee: #1B1718;
    --soft-coffee: #594446;
    --cappuccin: #938889;
    --grey: #CDCBCC;
    --late: #D8CFAE;
    --evergreen: #96AB9C;
    --highlight-low: #AF9068;
    --highlight-hig: #C87533;
}

ul,li,a {
    text-decoration: none;
    list-style: none;
}
textarea:focus, input:focus{
    outline: none;
}

body {
    background-color: var(--dark);
    position: relative;
}

header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px 40px;
    background-color: #96ab9c0a;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(5px);
    border-bottom: 1px solid rgba(200, 117, 51, 0.3);
}

.header__ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.logo {
    color: var(--late);
    font-family: var(--text);
    font-weight: 900;
    font-size: 1.5em;
    width: 26%;
}

.header__li {
    font-family: var(--text);
    font-weight: 300;
    color: var(--late);
    font-size: 16px;
    text-transform: uppercase;
    width: 50%;
}

.hero {
    background: url(./hero.webp) no-repeat center center fixed;
    background-size: cover;
    width: 100%;
    height: 80vh;
}

.hero__bg {
    width: 100%;
    height: 80vh;
    background-color: #1b171885;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero__left {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 30px 0;
}

.hero__left h1,h2 {
    font-family: var(--alt-text);
    font-weight: 900;
    font-size: 5em;
    width: 70%;
    line-height: 0.6em;
    color: var(--late);
    filter: drop-shadow(1px 1px 5px var(--soft-coffee));
}

.hero__card {
    width: 37%;
    height: 50%;
    background: rgba(27, 23, 24, 0.010);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(5.4px);
    -webkit-backdrop-filter: blur(5.4px);
    border: 1px solid rgba(200, 117, 51, 0.2);
    display: flex;
    justify-content: center;
    align-content: center;
}

.hero__cardt {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 7px 0;
}

.hero__text {
    font-family: var(--text);
    color: var(--late);
    text-align: center;
}

.p1 {
    font-weight: 600;
    font-size: 1.2em;
    text-transform: uppercase;
}
.p2 {
    font-weight: 800;
    font-size: 4em;
}
.p3 {
    font-weight: 400;
    font-size: 1.8em;
}
.p4 {
    font-weight: 300;
    font-size: 1em;
}

.intro {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 95vh;
    background-color: var(--coffee);
}
.intro__text {
    width: 55%;
    height: 100%;
    padding: 50px 30px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.intro__text h1 {
    font-family: var(--heading);
    font-family: 800;
    font-size: 4.5em;
    color: var(--cappuccin);
    letter-spacing: 0.6px;
    width: 80%;
}
.intro__text h3 {
    font-family: var(--heading);
    font-family: 800;
    font-size: 3em;
    color: var(--cappuccin);
    letter-spacing: 0.6px;
    width: 90%;
    margin-bottom: 30px;
}
.intro__text p {
    font-family: var(--text);
    font-family: 400;
    font-size: 1.2em;
    line-height: 1.1em;
    width: 85%;
    color: var(--cappuccin);
    margin-bottom: 15px;
}
.intro__text i {
    color: var(--highlight-hig);
    font-style: normal;
}

.intro__img {
    width: 50%;
    height: 100%;
    background: url(./intro.webp) no-repeat center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 50px;
}

.intro__imgbg {
    width: 45%;
    height: 25%;
    background: rgba(27, 23, 24, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(200, 117, 51, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px 0;
}
.intro__imgbg h3 {
    font-family: var(--alt-text);
    font-weight: 700;
    font-size: 1.7em;
    color: var(--late);
}
.intro__imgbg a {
    font-family: var(--alt-text);
    font-weight: 700;
    font-size: 1.4;
    padding: 7px;
    border-radius: 9px;
    color: var(--grey);
    border: solid 1px var(--highlight-hig);
}

.cof__gallery {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 100vh;
    background-color: var(--coffee);
    flex-direction: column;
}

.coffcoff {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70vh;
}
.cof__left {
    width: 55%;
    height: 69vh;
    background: 
    linear-gradient(90deg, rgba(147,136,137,0.2) 0%, rgba(89,68,70,0.6) 25%, rgba(27,23,24,1) 100%),
    url(./coffee.gif) no-repeat center center;
    background-size: cover;
}
.cof__right {
    width: 50%;
    height: 69vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 30px;
}
.cof__right h3 {
    width: 100%;
    text-align: end;
    font-family: var(--heading);
    font-family: 800;
    font-size: 3em;
    color: var(--cappuccin);
    letter-spacing: 0.6px;
}
.cof__right p {
    width: 100%;
    text-align: end;
    font-family: var(--text);
    font-family: 400;
    font-size: 1.1em;
    line-height: 1.1em;
    color: var(--cappuccin);
    margin-top: 15px;
}
.cof__right i {
    color: var(--highlight-hig);
    font-style: normal;
}
.cof__btn {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    margin-top: 20px;
    gap: 0 20px;
}
.cof__btn .register {
    background-color: var(--soft-coffee);
    padding: 9px;
    border-radius: 8px;
    color: var(--late);
}
.cof__btn .apadrinar {
    border: solid 1px var(--highlight-hig);
    padding: 9px;
    border-radius: 8px;
    color: var(--late);
}

.coff__insta {
    height: 30vh;
    width: 100%;
}
.coff__insta img {
    height: 30vh;
    width: 12.2%;
    overflow: hidden;
    object-fit: cover;
    opacity: 0.4;
    transition: 0.5s;
}
.coff__insta img:hover {
    opacity: 1;
    transform: scale(1.02);
}

/* Contact info ☎️ */
.contact {
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contact__info {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85%;
    padding: 0 40px;
    gap: 0 40px;
}

.c_logo {
    font-family: var(--heading);
    width: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.c_logo a {
    font-family: var(--heading);
    font-weight: 400;
    font-size: 3em;
    letter-spacing: 0.8px;
    width: 100%;
    color: var(--cappuccin);
}

.ul__logo {
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px 0;
}
.li__logo {
    font-family: var(--text);
    font-weight: 300;
    font-size: 1.5em;
    color: var(--evergreen);
} 

form {
    width: 60%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px 0;
}

input {
    display: block;
    width: 100%;
    border: 1.2px solid var(--highlight-hig);
    background-color: transparent;
    padding: 10px;
    color: #938889;
    border-radius: 10px;
}
.form__btn {
    width: 40%;
    margin-left: 60%;
}
textarea {
    width: 100%;
    height: 20%;
    border: 1.2px solid var(--highlight-hig);
    background-color: transparent;
    padding: 10px;
    color: #c6f0d9;
    border-radius: 10px;
}

::placeholder {
    font-family: var(--text);
    font-weight: 300;
    font-size: 1.1em;
    color: #D8CFAE;
    opacity: 0.3;
}

footer {
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
}
footer p {
    font-family: var(--text);
    font-weight: 300;
    font-size: 1em;
    color: var(--cappuccin);
}
footer a {
    font-family: var(--text);
    font-weight: 300;
    font-size: 1em;
    color: var(--highlight-low);
}

.social {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.social a {
    font-size: 1.7em;
}

/* Starting with mediaqueries */
@media (max-width: 1250px) {
    .hero__left h1,h2 {
        font-size: 3.8em;
    }
    .intro__imgbg {
        width: 50%;
    }
    .coff__insta img {
        width: 12%;
    }
    .contact {
        height: 85vh;
    }
}
@media (max-width: 1200px) {
    .hero__left h1,h2 {
        font-size: 4em;
    }
    .intro__imgbg {
        width: 50%;
    }
    .coff__insta img {
        width: 12.1%;
    }
    .contact {
        height: 85vh;
    }
}
@media (max-width: 1024px) {
    .p2 {
        font-size: 3em;
    }
    .p1 {
        font-size: 1em;
    }
    .p3 {
        font-size: 1.3em;
    }
    .intro__text h1 {
        font-size: 4em;
    }
    .intro__text p {
        font-size: 1em;
    }
    .intro__imgbg {
        width: 60%;
    }
}

@media (max-width: 768px) {
    .hero__left {
        gap: 10px 0;
    }
    .hero__left h1, h2 {
        font-size: 3.5em;
        line-height: 0.9em;
        width: 100%;
    }
    .p2 {
        font-size: 2em;
    }
    .intro__text {
        width: 80%;
    }
    .intro__text h1 {
        font-size: 3.5em;
    }
    .intro__imgbg h3 {
        font-size: 1em;
    }
    .coff__insta img {
        width: 12%;
    }
}
/*  */
.toggler{
    /* ALWAYS KEEPING THE TOGGLER OR THE CHECKBOX ON TOP OF EVERYTHING :  */
      z-index: 14;
      height: 50px;
      width: 50px;
      position: absolute;
      top: 0;
      left: 0;
      cursor: pointer;
      opacity: 0;
  }
  
  .hamburger{
      position: absolute;
      top: 10px;
      left: 0;
      height: 40px;
      width: 40px;
      padding: 0.6rem;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 13;
  }
  
  /* CREATING THE MIDDLE LINE OF THE HAMBURGER : */
  
  .hamburger > div{
      position: relative;
      top: 0;
      left: 0;
      background: white;
      height: 2px;
      width: 100%;
      transition: all  0.4s ease;
  }
  
  /* CREATING THE TOP AND BOTTOM LINES : 
  TOP AT -10PX ABOVE THE MIDDLE ONE AND BOTTOM ONE IS 10PX BELOW THE MIDDLE: */
  
  .hamburger > div::before,
  .hamburger > div::after{
      content: '';
      position: absolute;
      top: -10px;
      background: white;
      width: 100%;
      height: 2px;
      transition: all  0.4s ease;
  }
  
  .hamburger > div::after{
      top: 10px;
  }
  
  /* IF THE TOGGLER IS IN ITS CHECKED STATE, THEN SETTING THE BACKGROUND OF THE MIDDLE LAYER TO COMPLETE BLACK AND OPAQUE :  */
  
  .toggler:checked + .hamburger > div{
      background: rgba(0,0,0,0);
  }
  
  .toggler:checked + .hamburger > div::before{
      top: 0;
      transform: rotate(45deg);
      background: black;
  }
  
  /* AND ROTATING THE TOP AND BOTTOM LINES :  */
  
  .toggler:checked + .hamburger > div::after{
      top: 0;
      transform: rotate(135deg);
      background: black;
  }
  
@media (max-width: 425px) {
    header input[type="checkbox"],
    header .hamburger {
        display: block;
        position: fixed;
    }

    nav {
        flex-direction: column;
        width: 100%;
        height: calc(100vh - 80px);
        z-index: 2;
        transform: translateX(-200%);
        transition: all 0.6s ease-in;
        position: fixed;
        top: 0;
    }
    nav ul, a {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 50px;
    }
    header input[type="checkbox"]:checked ~ nav {
        transform: translateX(0);
        transition: all 0.6s ease-out;
    }
}  