---

---
<section class="pt-12 px-6">
    <div class="flex flex-col items-center justify-center gap-6">
        <div class="text-[#938889] flex flex-col items-start gap-4">
            <div class="">
                <h2 class="font-black text-4xl [font-stretch:ultra-expanded]">Encontrá tu</h2>
                <h3 class="font-extrabold text-3xl [font-stretch:ultra-expanded]">— Coffee Store favorito</h3>
            </div>
            <div class="flex flex-col items-start gap-3 font-semibold">
                <p class="">Vinimos a la ciudad a ofrecer algo diferente. Somos PrrR! Un lugar cálido para que disfrutes del aroma de un rico cafecito y el abrazo tierno de un michi.</p>
                <p class="">Hace tiempo tuvimos la idea de armar un <span class="text-yellow-700">lugar donde tomarse un café</span> y relajarse con nuestras mascota favoritas, los gatos, sea posible.</p>
                <p class="">Tenemos por un lado nuestro <span class="text-yellow-700">Coffee store</span> con la mejor calidad de la ciudad. Y, separado, en otro sector tenemos un lobby para que bebas tu café ¡rodeado de gatitos!</p>
            </div>
        </div>
        <div class="text-[#938889] bg-[url(/intro.webp)] w-screen bg-cover flex items-center justify-center pt-36 pb-36">
            <div class="bg-[#1B1718]/40 backdrop-blur-sm border-[1px] border-yellow-900 rounded-lg py-4 px-8 text-center flex flex-col gap-2">
                <h4 class="text-2xl font-extrabold">¡Apadriná un michi!</h4>
                <a href="#" class="bg-[#1B1718]/30 px-2 py-1 border-[1px] border-yellow-700 rounded-md">Saber más</a>
            </div>
        </div>
    </div>
</section>