---

---
<header class="w-full flex box-content">
    <!-- <input type="checkbox" id="mobile">
    <div class="" id="line1"></div>
    <div class="" id="line2"></div>
    <div class="" id="line3"></div> -->
    <nav class="flex items-center justify-around w-full text-[#D8CFAE]">
        <ul class="flex items-center gap-6">
            <li class="">
                <a href="" class="">Inicio</a>
            </li>
            <li class="">
                <a href="" class="">Acerca</a>
            </li>
            <li class="">
                <a href="" class="">Contacto</a>
            </li>
        </ul>
        <a href="#" class="w-[26%]">PrrR!</a>
        <a href="#" class="">Login</a>
    </nav> 
</header>
<script type="module">
    const mobile = document.getElementById('mobile');
</script>