---

---
<section class="flex pt-6 bg-yellow-900/10 pb-4">
    <div class="relative">
        <video src="/coffee.mp4" class="w-full h-44 object-cover" autoplay muted loop></video>
        <div class="w-full flex items-center justify-center">
            <h3 class="flex items-center justify-center text-[#938889] text-2xl font-black absolute top-16 bg-[#1B1718]/80 backdrop-blur-sm rounded-md border-[1px] border-yellow-900 px-4 py-1">¡Sé su padrino!</h3>
        </div>
        <div class="text-[#938889] font-semibold pt-6 px-6 flex items-start justify-center gap-3 flex-col">
            <p class="">En <span class="text-yellow-900"> PrrR!</span>, contamos con un sistema de apadrinamiento.</p>
            <p class="">Con tu apoyo podemos alimentar, cuidar y vacunar a nuestros amigos felinos. Además vas a contar con unos beneficios exclusivos para vos y tu familia.</p>
            <a href="" class="bg-yellow-900 px-2 py-1 rounded-md">Apadrinar</a>
        </div>
    </div>
</section>